@font-face {
    font-family: 'Chivo';
    src: url('/static/fonts/Chivo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Chivo Mono';
    src: url('/static/fonts/ChivoMono.ttf') format('truetype');
    font-weight: normal;
    font-style: monospace;
}

@font-face {
    font-family: 'Lora';
    src: url('/static/fonts/Lora.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}